body {


  font-family: helvetica;
  }

  ul {
    font-family: monospace;
  }
  li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
  } 
  iframe {
    width: 500px;
    height: 50px;
    margin: 30px;
    background-color: #777;
}